* {
  margin: 0;
  padding: 0;
}
.content {
  background: #000;
  height: 100vh;
  overflow: hidden;
}
.content h1 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: azonix;
  transform: translate(-50%, -50%);
  z-index: -1;
  font-size: 80px;
  text-align: center;
}
.box ul li {
  position: absolute;
  width: 35px;
  height: 35px;
  list-style: none;
  opacity: 0;
}
